/*
Plugin Name: Vina Presentation Cycle Widget
Plugin URI: http://VinaThemes.biz
Description: A great WordPress Slider to display featured posts in Presentation Cycle.
Version: 1.0
Author: VinaThemes
Author URI: http://VinaThemes.biz
Author email: mr_hiennc@yahoo.com
Demo URI: http://VinaDemo.biz
Forum URI: http://VinaForum.biz
License: GPLv3+
*/